body{
	visibility: visible;
	background: #eeeeee;
}

.sortable{
	list-style-type: none;
	padding: 0;
	li.project-image{
		cursor: move;
	}
}

.projects.sortable li{
	cursor: pointer;
	margin: 0 5px;
	&.mouseDown{
		cursor: move;
		a{
			cursor: move;
		}
	}
}

.label-help{
	color: #aaa;
	font-size: 12px;
	float: right;
	line-height: 20px;
}
.url-available{
	color: green;
	display: none;
}
.url-taken{
	color: red;
	display: none;
}

.bootstrap-tagsinput{
    display: block;
    box-shadow: none;
    border-radius: 0;
    padding: 6px 11px;
    span.tag{
	    position: relative;
	    top: -2px;
    }
}

.tooltip-inner{
    max-width: none;
    white-space: nowrap;
}

.portfolio-item{
	zoom: 0.6;
	border: 1px solid #aaa;
	/*margin: 0 !important;*/
}

section{
	background: #4e4d53;
	h2{
		color: #333333 !important;
		text-transform: none;
	}
}


.project-image i.fa-star{
	display: none;
}
.project-image.primary{
	img{
		outline: 5px solid rgba(254, 209, 54, 0.9);
		outline-offset: -5px;
	}
	a.image-primary{
		display: none;
	}
	i.fa-star{
		display: inline-block;
	}
}

.image-hover{
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  &:hover{
  	opacity: 1;
  }
  .image-hover-content{
	  position: absolute;
	  width: 100%;
	  height: 20px;
	  font-size: 20px;
	  text-align: center;
	  top: 50%;
	  margin-top: -12px;
	  color: white;
	  a{
	  	color: white !important;
	  }
  }
}

.image-new{
	cursor: pointer;
}